* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 500vh;
    margin-left: 15vw;
    margin-right: 15vw;
    align-items: center;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0) 0vh, rgba(0,0,0,1) 80vh), url('backgrounds/championship-zed.jpg');
    background-repeat: no-repeat;
    background-size: cover, contain;
    background-blend-mode: normal;
}

main {
    height: 100%;
    margin-top: 5vh;
    display: grid;
    background-color: rgba(89,97,108,0.3);
    border-radius: 20px;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(35, 1fr);
    grid-column-gap: 20px;
}

.summoner-summary {
    height: 70%;
    margin: 20px;
    grid-column: 1/10;
    grid-row: 1/4;
    background-color: rgba(89,97,108,0.5);
    border-radius: 17px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(7, 1fr);
}

.summoner-summary .summoner-general {
    grid-column: 1/3;
    grid-row: 1/5;
    margin: 5px;
    background-color: #31303e;
    border-radius: 15px;
}

.summoner-general {
    display: flex;
    align-items: center;
    justify-content: center;
}

.summoner-general .summoner-level {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    width: 96px;
    height: 96px;
}

.summoner-level img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-shadow: 0 0 0 2px #FA566F;
}

.summoner-level h2 {
    font-family: "Righteous", cursive;
    display: flex;
    position: absolute;
    height: 30px;
    width: 30px;
    font-size: 0.8rem;
    align-items: center;
    justify-content: center;
    color: #8E94DB;
    bottom: 0px;
    left: -5px;
    border-radius: 50%;
    box-shadow: 0 0 0 2px #FA566F;
    background-color: #2e3047;
}

.summoner-name {
    font-family: 'Russo One', cursive;
    position: relative;
    font-size: 3rem;
    color: #FA566F;
}

.summoner-summary .summoner-ranked-basic {
    grid-column: 1/3;
    grid-row: 5/8;
    margin: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 0.6rem;
    background-color: #31303e;
    border-radius: 15px;
}

.summoner-ranked-basic .ranked-division {
    grid-column: 1/2;
    grid-row: 1/2;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: 'Righteous', cursive;
    font-size: 0.8rem;
    color: #EFCF5B;
}

.ranked-division img {
    width: 73px;
    height: 83px;
    bottom: 20px;
}

.summoner-ranked-basic .ranked-winrate {
    grid-column: 2/3;
    grid-row: 1/2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Righteous', cursive;
    font-size: 0.8rem;
    color: #C7CAE5;
}

.summoner-ranked-basic .ranked-role-distribution {
    grid-column: 3/4;
    grid-row: 1/2;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Righteous', cursive;
    font-size: 0.9rem;
    color: #C7CAE5;
}

.ranked-role-distribution th, td {
    padding: 3px;
}

.ranked-role-distribution .role-distribution-header {
    color: #FA566F;
}

.summoner-summary .summoner-most-played {
    grid-column: 3/4;
    grid-row: 1/8;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #31303e;
    border-radius: 15px;
}

.summoner-most-played .most-played-table {
    height: 100%;
    width: 100%;
    font-family: 'Righteous', cursive;
    font-size: 0.9rem;
    align-items: center;
    color: #C7CAE5;
}

.most-played-table .most-played-header {
    color: #FA566F;
}

.most-played-table .most-played-champion {
    color: #8E94DB;
}

.most-played-champion img {
    width: 1.6rem;
    height: 1.6rem;
}

.summoner-match-history {
    margin-left: 20px;
    grid-column: 1/8;
    grid-row: 4/36;
    background-color: rgba(89,97,108,0.5);
    border-radius: 20px;
    display: grid;
    grid-template-rows: repeat(20, 1fr);
    grid-row-gap: 5px;
}

.summoner-match-history .match-history-game {
    margin: 10px;
    display: grid;
    background-color: #31303e;
    border-radius: 15px;
    font-family: 'Righteous', cursive;
    grid-template-columns: repeat(5, 1fr);
}

.summoner-match-history #match-history-victory {
    box-shadow: 0px 0px 12px #86ea74;
}

.summoner-match-history #match-history-defeat {
    box-shadow: 0px 0px 15px #EE4E4E;
}

.match-history-game .match-outcome {
    grid-column: 1/2;
    font-family: 'Righteous', cursive;
    display: grid;
    grid-template-rows: repeat(5, 1fr);
}

.match-outcome .actual-outcome-victory {
    grid-row: 1/4;
    font-family: 'Righteous', cursive;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #86ea74;
}

.match-outcome .actual-outcome-defeat {
    grid-row: 1/4;
    font-family: 'Righteous', cursive;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #EE4E4E;
}

.match-outcome .time-since-match {
    grid-row: 4/6;
    font-family: 'Righteous', cursive;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #898C9E;
}

.match-history-game .match-info {
    grid-column: 2/5;
    font-family: 'Righteous', cursive;
    display: grid;
    border-style: none solid none none;
    border-color: #262530;
    grid-template-columns: 1fr 1fr;
}

.match-info .match-teams {
    grid-column: 1/2;
    display: grid;
    grid-template-rows: repeat(10, 1fr);
    color: #898C9E;
    border-style: none solid none solid;
    border-color: #262530;
}

.match-teams .player-matchup {
    grid-row: 2/6;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.player-matchup #match-history-victory {
    box-shadow: 0px 0px 12px #86ea74;
}

.player-matchup #match-history-defeat {
    box-shadow: 0px 0px 15px #EE4E4E;
}

.match-teams .team-matchups {
    width: 96%;
    margin-left: 2%;
    margin-right: 2%;
    grid-row: 6/10;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
}

.team-matchups .other-players {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.other-players .other-players-champs {
    height: 26px;
    width: 26px;
    margin-top: 5px;
}

.match-info .match-player-stats {
    grid-column: 2/3;
    display: grid;
    color: #C7CAE5;
    grid-template-rows: 1fr 1fr;
}

.match-player-stats .match-player-kda {
    grid-row: 1/2;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-style: none none solid none;
    border-color: #262530;
}

.match-player-stats .match-player-build {
    grid-row: 2/3;
    width: 80%;
    margin-left: 10%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.match-player-build img {
    height: 32px;
    width: 32px;
    border-radius: 5px;
}

.match-player-build .match-player-ss {
    grid-column: 1/2;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.match-player-build .match-player-items {
    grid-column: 2/5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.match-player-build .match-player-trinket {
    grid-column: 5/6;
    display: flex;
    align-items: center;
    justify-content: center;
}

.match-history-game .match-adv-stats {
    grid-column: 5/6;
    font-family: 'Righteous', cursive;
    display: flex;
    align-items: center;
    justify-content: center;
}

.summoner-match-tags {
    margin-right: 20px;
    grid-column: 8/10;
    grid-row: 4/36;
    background-color: rgba(89,97,108,0.5);
    border-radius: 20px;
    display: grid;
    grid-template-rows: repeat(20, 1fr);
    grid-row-gap: 5px;
}

.summoner-match-tags .summoner-tag {
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #31303e;
    border-radius: 15px;
    font-family: 'Righteous', cursive;
}